*{
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    background-color: #E8E8E8 !important;
}

body{
    width: 100vw;
}

.menu{
    width: 100% !important;
    padding: 0px !important;
}

.row{
    width: 100% !important;
}

#logo{
    max-width: 100%;
}

.efic{
    font-size: 35px;
    font-family: Arial;
    color: #696969;
}

/*CSS EXEMPLO MENU*/

.offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    left: -300px;
    width: 300px;
    visibility: hidden;
    background-color: #EE7600;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

/*FIM CSS EXEMPLO MENU*/

@media (min-width: 400px) {
    .colunas {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
}

@media (max-width: 400px) {
    .menu{
        padding-bottom: 20px !important;
    }
    .colunas {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}