*{
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    background-color: #E8E8E8 !important;
}

body{
    width: 100vw;
}

.menu{
    width: 100% !important;
    padding: 0px !important;
}

.row{
    width: 100% !important;
}

#logo{
    max-width: 100%;
}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    z-index: 1;
    font-size: 25px;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    padding: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 20%;
}

.barra{
    width: 100%;
}

.nav-barra{
    width: 100%;
    position: absolute;
    top: 55px;
}
.nav-barra a{
    text-decoration: none;
}

.link{
    background-color: #EE7600;
    padding: 20px !important;
    font-family: 'Arial';
    font-size: 12pt;
    color: #fff;
    border-bottom: 2px solid #222;
    opacity: 0;
}
.link:hover{
    background-color: #CD6600;
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
}

.efic{
    font-size: 35px;
    font-family: Arial;
    color: #696969;
}

/*CSS EXEMPLO MENU*/

.offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 100%;
    left: -300px;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: /*#343a40*//*#f8f9fa*/#155592;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
}

.offcanvas-collapse {
    align-items: start;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-right: 5px solid rgba(0, 0, 0, 0.2);

}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

/*FIM CSS EXEMPLO MENU*/

@media (min-width: 400px) {
    .colunas {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
}

@media (max-width: 400px) {
    .menu{
        padding-bottom: 20px !important;
    }
    .colunas {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    #icone{
        margin-right: 0px !important;
    }
}